/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #e1e2e1;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-purple: #8c52ff;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #0288d1;
  --color-dark-blue: #005b9f;
  --color-light-blue: #5eb8ff;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #00695c;
  --color-dark-green: #002232;
  --color-light-green: #4e7589;
  --color-bg-green: #20495c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-black);
}

button {
  font-family: "Gugi", cursive;
}

body {
  width: 100%;
  height: 160vh;
  font-family: "Gugi", cursive;
  background: url(/imgs/backgorund/background2.png) center/cover no-repeat;
  /* /* -ms-overflow-style: none; -- IE & Edge */
  scrollbar-width: none; /* -- Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#navbar {
  display: flex;
  width: 100%;
  height: 7vh;
  top: 0;
  background-color: rgba(252, 252, 136, 0.6);
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: var(--font-medium);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: #fcfc88;
  padding: 40px;
}

.navbar__logo {
  display: flex;
}

.navbar__logo > img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.navbar__logo > a {
  background: rgb(255, 87, 87);
  background: linear-gradient(
    90deg,
    rgba(255, 87, 87, 1) 16%,
    rgba(140, 82, 255, 1) 89%
  );
  background-size: 100% 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 10px;
}

.navbar__menu__item > a {
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item > a.active {
  color: var(--color-purple);
}

.navbar__menu__item > a:hover {
  cursor: pointer;
  color: var(--color-dark-pink);
}

/* User_Table */
#main {
  width: 40%;
  margin: auto;
}

p {
  font-size: 42px;
  font-weight: var(--weight-bold);
}

.main_user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  margin-top: 50px;
  padding: 50px;
  padding-top: 60px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}

.input-group input {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.125rem solid white;
  outline: none;
}

.input-group select {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.125rem solid white;
  outline: none;
}

.up input:focus {
  border: 0.125rem solid #ff5757;
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  border: none;
  color: black;
  font-size: 1.2rem;
  outline: none;
}

.sign-ups {
  background-color: #fff7d1;
}

.input-group input::file-selector-button {
  display: none;
}

.enroll__idcheck {
  /* position: absolute; */
  top: 6%;
  right: 6%;
  width: 20%;
  padding: 2px;
  font-size: 1rem;
  background-color: #fff7d1;
  border-radius: 0.5rem;
  border: 0.125rem solid #fff7d1;
  outline: none;
}

.form p {
  margin: 1rem 0;
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.profileimage {
  height: 300px;
  width: 350px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.filebox label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: #999; font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; } 
	
.filebox input[type="file"] 
{ /* 파일 필드 숨기기 */ position: absolute; 
width: 1px; 
height: 1px; 
padding: 0; 
margin: -1px; 
overflow: hidden; 
clip:rect(0,0,0,0); 
border: 0; }


