/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #e1e2e1;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-purple: #8c52ff;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #0288d1;
  --color-dark-blue: #005b9f;
  --color-light-blue: #5eb8ff;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #00695c;
  --color-dark-green: #002232;
  --color-light-green: #4e7589;
  --color-bg-green: #20495c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-black);
}

button {
  font-family: "Gugi", cursive;
}

body {
  width: 100%;
  height: 140vh;
  font-family: "Gugi", cursive;
  background: url(/Semi_Project_QTMarket/resources/imgs/backgorund/background2.png) center/cover no-repeat;
  /* /* -ms-overflow-style: none; -- IE & Edge */
  scrollbar-width: none; /* -- Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#navbar {
  display: flex;
  width: 100%;
  height: 7vh;
  top: 0;
  background-color: rgba(252, 252, 136, 0.6);
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: var(--font-medium);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: #fcfc88;
  padding: 40px;
}

.navbar__logo {
  display: flex;
}

.navbar__logo > img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.navbar__logo > a {
  background: rgb(255, 87, 87);
  background: linear-gradient(90deg, rgba(255, 87, 87, 1) 16%, rgba(140, 82, 255, 1) 89%);
  background-size: 100% 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 10px;
}

.navbar__menu__item > a {
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item > a.active {
  color: var(--color-purple);
}

.navbar__menu__item > a:hover {
  cursor: pointer;
  color: var(--color-dark-pink);
}

/* User_Table */
#main {
  width: 75%;
  margin: auto;
}

.main__user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.main__user__header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.main__user__header__profile {
  width: 300px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.main__user__header__description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  padding-left: 60px;
  border-left: 1px solid black;
}

.main__user__header__description > p:nth-child(2) {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.main__user__body {
  display: flex;
  flex-direction: column;
}

.main__user__body__category {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.category {
  width: 80px;
  height: 30px;
  background: var(--color-yellow);
  /* border: 1px solid var(--color-black); */
  outline: none;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.main__user__body__product {
  border-top: 1px solid black;
}

.main__user__body__product p {
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 25px;
}

.main__user__body__table {
  width: 100%;
  table-layout: fixed;
  background: rgba(255, 255, 255, 0.205);
  border-collapse: collapse;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 14px;
  margin-bottom: 30px;
}

.main__user__body__table button {
  background: transparent;
  border: none;
  font-size: 18px;
  transition: all var(--animation-duration) ease-in;
}

.main__user__body__table button:hover {
  color: var(--color-dark-pink);
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

th,
td {
  padding: 10px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-collapse: collapse;
}

.table__sel {
  width: 5%;
}

.table__no {
  width: 5%;
}

.table__title {
  width: 45%;
}

.table__author {
  width: 20%;
}

.table__enroll {
  width: 15%;
}

.table__hits {
  width: 5%;
}

.table__change {
  width: 5%;
}

.table__tbody {
  text-align: center;
}

.table__tbody tr td:nth-child(3) {
  text-align: start;
}

.product__btn {
  display: flex;
  justify-content: flex-end;
}

.product__btn > button {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  background: var(--color-yellow);
  /* border: 1px solid var(--color-black); */
  outline: none;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}



#pageBar {
	text-align:center; 
}

.pagebutton {
	width: 30px;
  	height: 25px;
  	background-color:white;
}

.movebutton {
	width: 40px;
  	height: 25px;
}

.setbutton {
	width: 50px;
  	height: 25px;
}

